html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@media (max-width: 767px) {
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  position: relative;
}

.row::before,
.row::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Open Sans", sans-serif;
}

.main-header {
  background-color: black;
  height: 100vh;
  position: fixed;
  width: 25%;
  color: #ffffff;
}

.content-wrapper {
  background-color: #f0f2ea;
  height: 10000px;
}

.header {
  width: 100%;
  background-color: #ffffff;
  height: 50px;
  color: #878585;
}

.header-content {
  width: 44%;
  float: right;
  height: 50px;
  display: flex;
  align-items: center;
}

.header-content2 {
  text-align: center;
  border-left: 1px solid #c6c6c6;
  height: 35px;
  padding-top: 15px;
}

.first-part {
  width: 30%;
}

.second-part {
  width: 10%;
}

.third-part {
  width: 50%;
}

.fourth-part {
  width: 10%;
}

.menu {
  padding: 10px;
  font-size: 26px;
  font-family: 'Satisfy', cursive;
}

.menu-content {
  font-size: 14px;
  height: 65px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.menu-content:hover {
  background-color: darkgray;
  border-left: 4px solid orange;
}

.main-header-content-link {
  color: #878787;
}

.main-header-content-link:hover {
  color: white;
}

.general {
  width: 22px;
  filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
  padding-right: 80px;
}

.details {
  width: 16px;
  filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
  padding-right: 90px;
}

.links {
  width: 20px;
  filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
  padding-right: 95px;
}

.banners {
  width: 16px;
  filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
  padding-right: 80px;
}

.personal-data {
  width: 12px;
  filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
  padding-right: 40px;
}

.payout {
  width: 16px;
  filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
  padding-right: 85px;
}

.postback {
  width: 16px;
  filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
  padding-right: 70px;
}

.arrow-down {
  width: 10px;
  padding-left: 4px;
  filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
}

.wallet {
  padding: 2px 0 0;
  width: 14px;
  filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
}

.notification {
  width: 20px;
  filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
}

.profile {
  width: 16px;
  filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
}

.exit {
  width: 16px;
  filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
}

.calendar {
  width: 12px;
  filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
}

.refresh {
  width: 16px;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(332deg) brightness(104%) contrast(101%);
}

.link {
  width: 20px;
}

.trash {
  width: 14px;
  padding-left: 20px;
}

.container {
  background-color: #ffffff;
  width: 98%;
  height: auto;
  margin: 0 auto;
}

.gen-stat {
  border-bottom: 1px solid #c6c6c6;
  color: #a3a1a1;
  text-transform: uppercase;
}

h3 {
  padding-left: 15px;
}

.date-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-bottom: 1px solid #c6c6c6;
  color: #878585;
}

.date {
  width: 40%;
}

.date2 {
  padding: 0px 40px 0px 40px;
}

.calendar-border {
  border: 1px solid #c6c6c6;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.refresh-button-container {
  height: 30px;
  display: flex;
  padding-left: 10px;
  align-items: center;
  padding-top: 1px;
}

.refresh-button {
  background-color: #f49e42;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.information {
  width: 60%;
  margin: 0 auto;
}

.info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c6c6c6;
  padding-top: 30px;
  font-size: 14px;
  color: #878585;
}

.earnings {
  width: 60%;
  margin: 0 auto;
  color: #878585;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 30px;
  display: none;
}

.overlay.show {
  display: flex;
}

.modal {
  max-width: 600px;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  padding: 30px;
  display: none;
}

.modal.show {
  display: block;
}

.modal .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
}

.link-container-title {
  border-bottom: 1px solid #c6c6c6;
  color: #878585;
  text-transform: uppercase;
}

.add-new-button {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-new {
  width: 110px;
  height: 35px;
  background-color: #f49e42;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.link-container {
  width: 60%;
  margin: 0 auto;
}

.link-section {
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c6c6c6;
}

.link-section:first-child {
  border-top: 1px solid #c6c6c6;
}

.link-section:hover {
  background-color: #e8ebef;
}

/*# sourceMappingURL=style.css.map */