@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

.main-header {
    background-color: black;
    height: 100vh;
    position: fixed;
    width: 25%;
    color: #ffffff;
}

.content-wrapper {
    background-color: #f0f2ea;
    height: 10000px;
}

.header{
    width: 100%;
    background-color: #ffffff;
    height: 50px;
    font-family: $paragraph-font;
    color: $paragraph-color;
}

.header-content{
    width: 44%;
    float: right;
    height: 50px;
    display: flex;
    align-items: center;
}

.header-content2{
    text-align: center;
    border-left: 1px solid $border-color;
    height: 35px;
    padding-top: 15px;
}

.first-part{
    width: 30%;
}

.second-part{
    width: 10%;
}

.third-part{
    width: 50%;
}

.fourth-part{
    width: 10%;
}

.menu {
    padding: 10px;
    font-size: 26px;
    font-family: 'Satisfy', cursive;
}

.menu-content {
    font-size: $paragraph-font-size;
    height: 65px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-family: $paragraph-font;
}

.menu-content:hover {
    background-color: darkgray;
    border-left: 4px solid orange;
}

.main-header-content-link {
    color: #878787;
}

.main-header-content-link:hover{
    color: white;
}

.general{
    width: 22px;
    filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
    padding-right: 80px;
}


.details{
    width: 16px;
    filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
    padding-right: 90px;
}

.links{
    width: 20px;
    filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
    padding-right: 95px;
}

.banners{
    width: 16px;
    filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
    padding-right: 80px;
}

.personal-data{
    width: 12px;
    filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
    padding-right: 40px;
}

.payout{
    width: 16px;
    filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
    padding-right: 85px;
}

.postback{
    width: 16px;
    filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
    padding-right: 70px;
}

.arrow-down{
    width: 10px;
    padding-left: 4px;
    filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
}

.wallet{
    padding: 2px 0 0;
    width: 14px;
    filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
}

.notification{
    width: 20px;
    filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
}

.profile{
    width: 16px;
    filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
}

.exit{
    width: 16px;
    filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
}

.container{
    background-color: #ffffff;
    width: 98%;
    height: 1000px;
    margin: 0 auto;
}

.gen-stat{
    border-bottom: 1px solid $border-color;
    font-family: $paragraph-font;
    color: #a3a1a1;
}

h3{
    padding-left: 15px;
}

.calendar{
    width: 12px;
    filter: invert(56%) sepia(1%) saturate(416%) hue-rotate(314deg) brightness(94%) contrast(87%);
}

.date-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-bottom: 1px solid $border-color;
    color: $paragraph-color;
    font-family: $paragraph-font;
}

.date{
    width: 40%;
}

.date2{
    padding: 0px 40px 0px 40px;
}

.calendar-border{
    border: 1px solid $border-color;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.refresh{
    width: 16px;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(332deg) brightness(104%) contrast(101%);
}

.refresh-button-container{
    height: 30px;
    display: flex;
    padding-left: 10px;
    align-items: center;
    padding-top: 1px;
}

.refresh-button{
    background-color: #edb431;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.information{
    width: 60%;
    margin: 0 auto;
}

.info{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    padding-top: 30px;
    font-size: $paragraph-font-size;
    font-family: $paragraph-font;
    color: $paragraph-color;
}

.earnings{
    width: 60%;
    margin: 0 auto;
    font-family: $paragraph-font;
    color: $paragraph-color;
}

